:root {
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
    --background-color: #181818;
    --page-width: 60em;
    --font-color: #d8d8d8;
    --invert-font-color: #222225;
    --secondary-color: #7cafc2;
    --tertiary-color: #a3abba;
    --primary-color: #a1b56c;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
}

.container {
    padding: 0;
    max-width: 64em;
}

.terminal-logo {
    margin-right: 30px;
}

.terminal-logo>div {
    opacity: 0.9;
}

.terminal-logo a {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5em;
    font-size: 1rem;
    opacity: 0.9;
}

.terminal-logo a:hover {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.terminal-menu a>span {
    text-decoration: underline;
    font-size: 1.2em;
}

.terminal-menu ul {
    justify-content: flex-start;
}

.main-container {
    display: flex;
    margin-bottom: 21px;
}

.main-container-left {
    flex: 0 0 80%;
    background-color: #383838;
    padding: 15px;
}

.main-container-right {
    flex: 0 0 20%;
    padding: 15px;
}

.underline-me {
    text-decoration: underline;
}

.icons-container .lni {
    font-size: 25px;
}

.icons-container a:hover {
    color: var(--primary-color);
    background-color: var(--background-color);
}

.main-container-right-hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .main-container {
        flex-direction: column-reverse;
    }

    .main-container-left {
        flex: 0 0 100%;
        width: 100%;
    }

    .main-container-right {
        flex: 0 0 100%;
        width: 100%;
    }

    .second-break {
        display: none;
    }

    .terminal-nav {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .terminal-logo {
        margin-top: 20px;
    }

    .terminal-menu ul {
        margin-top: 20px;
    }
}
